@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last Updated: 22/11/2024</p>

<h3>What's changed?</h3>
<p>Your privacy is important to us. Our privacy policy is designed to help you understand the types of information that we collect, how we use and share the information, and how the information is protected. This policy covers our use of information that can or could be used to identify you, but it does not cover information which cannot be used to identify you. This policy applies to all BloxBuilder services that directly reference or link to it, but does not apply to BloxBuilder services that link to separate privacy policies.</p>

<h3>1. Categories of information we collect</h3>
<h4>Information that you give to us</h4>
<p>When you register for, and use our services, we collect the information that you give to us. This may include information like your name, email address, postal address, phone number, date of birth, country of residence, language, and gender.</p>

<h4>Information about your device</h4>
<p>When you use our services, we may collect specific information about your device, and across your devices, such as the model, serial number, operating system, device settings, device performance, device and advertising identifiers, Internet service provider, IP address, and other unique personal or online identifiers. If you or your device experiences an error, we collect information about the error, the time the error occurred, the application or features being used, the state of the application when the error occurred, and any communications or content provided at the time the error occurred.</p>

<h4>Information about your use of our services</h4>
<p>We collect information about your use of and interaction with our services. This could include information about the account you use to access our services, your gameplay, your online status, your service use history, your connections and interactions with other users, the content you share, the date and time of your use or visit, information about the links you click, pages you view, and advertising you interact with within our services, inferences used to create a profile about your preferences and characteristics, standard server log information, and other information about how you use our services.</p>

<h4>Your content</h4>
<p>Our services may allow you to create, upload, or share content such as text, images, audio, video, your nickname and user icon, or other content that you create or is licensed to you. When you use any of our services that include these or other similar capabilities we may collect your content in accordance with our terms of use and this policy.</p>

<h4>Your purchases</h4>
<p>Some of our services allow you to make purchases. If you use any of our services to make a purchase, we may collect information about the purchase. This may include payment information, such as your credit card number, account authentication information, and contact information like your billing and shipping address.</p>

<h4>Location information</h4>
<p>With your consent, we may collect and process information about your precise location. When we have your location information, we use it to tailor our services for you and others, like allowing you to play location-based games or helping you establish friend relationships with other users.</p>

<h4>Health Information</h4>
<p>With your consent, we may collect certain health information such as the number of steps taken or distance walked. We do not use this information for marketing or advertising purposes.</p>

<h4>Information from other sources</h4>
<p>We may also receive information about you from other sources, including from other users of our services, and third-party services and organizations. For example, if you access any social media or similar services through our services to login or to share information about your experience on our services with others, we may collect information from these third-party services. We may also combine the information received from these other sources with information we’ve collected from you.</p>

<h4>Aggregated and deidentified information</h4>
<p>We may aggregate or de-identify the information described above. Because aggregated and de-identified information cannot be used to identify you, it is not subject to this policy.</p>

<h3>2. How we use your information</h3>
<p>We use your information to deliver, maintain, and improve our services, including for the performance of troubleshooting, data analytics, testing, research, statistical analysis, and surveys. We also use your information to provide you with services that you request, develop new services, suggest personally relevant features, offer you customized content, allow you to participate in interactive features, manage your account, provide you with tailored advertising, send you promotional materials from us or our affiliates and trusted business partners, keep our services, business, and users safe and secure, comply with applicable laws and regulations, prevent fraud, and to protect or exercise our legal rights or defend against legal claims.</p>

<p>Whenever you contact us, we use the information that you provide to us to help resolve issues you might be having when you use our services. We also use information, such as your email address or phone number, to respond to you when you contact us, to let you know about changes to our policies and terms, to let you know about changes or improvements to our services, and to inform you about other services that we offer.</p>

<p>We may use cookies, or other similar technologies, on some of the features of our services. Cookies are small files that are typically downloaded to the browser application on your device. We also may permit our third-party service providers to set cookies and similar technologies within our services to perform various analytics functions and to provide you with targeted advertisements that may be relevant to you. To learn more about how we, or our third-party service providers, may use these cookies, and to manage your preferences as they relate to the collection and use of cookies across our website and services, go here.</p>

<p>We do not, and will not sell your information to third parties. However, we permit third-party service providers to collect personal information, as described here, through some of our services and we share personal information with third-party service providers for business purposes as described in this policy, including but not limited to providing advertising on our services and elsewhere based on users’ online activities over time and across different sites, services, and devices.</p>

<h3>3. How your information is shared</h3>
<h4>Authorized third-party service providers</h4>
<p>We may share some or all of the categories of your personal information, as identified above, with third-party service providers that provide services to us for a variety of business purposes, such as payment processing, customer service, email deployment, advertising and marketing (including counting ad impressions, analyzing website clicks, verifying positioning and quality of ad impressions, ensuring compliance with industry standards, ad delivery, reporting, personalization, audience segmentation, and analytics), security enhancement, fraud prevention, performance monitoring, maintaining or servicing accounts, processing or fulfilling orders and transactions, information hosting, auditing, and information processing.</p>

<h4>Corporate affiliates</h4>
<p>We sometimes share your information within our family of BloxBuilder companies.</p>

<h4>Legal purposes</h4>
<p>We may share your information to comply with legal process, respond to claims or inquiries, enforce our terms, or protect and defend the rights, property, or personal safety of our operations, our users, or the public.</p>

<h4>Business transfers</h4>
<p>We may share your information as part of a substantial corporate transaction, such as a sale or transfer of company assets, a merger, consolidation, or as otherwise legally permitted.</p>

<h4>Other users and the public</h4>
<p>Some of our services allow you to share your information and content with other users or engage in public activities. When you choose to use these services, the information or content that you share, your nickname, your user icon, your online status, your country of residence, your reported age range, and your gameplay information may be visible to BloxBuilder and its trusted business partners, other BloxBuilder users, and in some cases, the public. Please keep in mind, when you use these services, that the information and content that you choose to share may be read, collected, or used by others or the public. You are fully responsible for the information and content that you choose to share in these instances.</p>

<h4>When you access third-party services</h4>
<p>If you access third-party services -- such as third-party online gaming services and social media services -- through our services, these third-party services may be able to collect information directly from you or about you, including information about your activity on our services, and they may notify your connections on the third-party services about your use of our services, in accordance with their own privacy policies.</p>

<h4>With your consent</h4>
<p>We may share information for any other purposes disclosed to you at the time we collect the information or pursuant to your consent.</p>

<h3>4. Your controls, choices, and rights</h3>
<p>We offer you certain controls and choices regarding the information we collect, how the information is used, and how it is shared. These controls and choices include the ability to update, correct, or delete information that you have provided to us or information that we have collected through your use of our services. They also include the ability to opt-out of receiving notifications, promotions, offers, or other advertising from us.</p>

<p>You may have the right, in accordance with applicable law, to request access to, correction, or deletion of your information. For instructions on how to submit such a request go here.</p>

<p>We will not discriminate against you for exercising your rights and choices, however, some of the functionality and features of our services may change, or no longer be available to you.</p>

<h3>5. Information retention and information security</h3>
<p>Your information will only be retained as long as reasonably necessary for the purposes set out in this privacy policy, and in accordance with applicable law.</p>

<p>We have implemented administrative, physical, and technical security measures that are designed to protect your information from loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction. You should understand though that, despite our efforts, no security can be guaranteed as impenetrable. Please note that information collected by third parties may not have the same security protections as information you submit to us, and we are not responsible for protecting the security of such information.</p>

<h3>6. Information about children</h3>
<p>We do not knowingly collect, use, or share information from children under the age of 13 without verifiable parental consent or as permitted by law. Where a parent or legal guardian has provided consent, the child may be able to use his or her BloxBuilder Account to play certain third-party games and applications that are not published by BloxBuilder. Parents or guardians may review, modify, or delete the child’s personal information, or withdraw consent, by contacting us using the contact information provided at the end of this privacy policy, and may manage which third-party games and applications can access and use the child’s BloxBuilder Account information through your BloxBuilder Account profile settings.</p>

<h3>7. Changes</h3>
<p>BloxBuilder may update this privacy policy from time to time. When we update it, we will revise the "Last Updated" date above. If we make material changes in the way we collect, use, retain or share your personal information, we will notify you by sending you an email at the last email address that you provided us, or by posting notice of the changes on the services covered by this privacy policy.</p>

<h3>8. ESRB Certification</h3>
<p>This privacy policy and the certification seal located on our websites that link to this policy confirms that we are a valid licensee, and participating member, of the Entertainment Software Rating Board's Privacy Certified Program. To help protect your privacy, we have voluntarily undertaken this privacy initiative. As a licensee in this privacy certification program, we are subject to frequent audits of our websites and other enforcement and accountability mechanisms administered independently by the ESRB. All of our sites containing the ESRB certification seal have been reviewed, and certified, by ESRB to meet established online information collection and use practices.</p>

<h3>9. Contact information</h3>
<p>If you have any questions, concerns, or comments regarding this privacy policy, or any of our privacy practices, please contact us via email at hristo_07@outlook.com, via phone at +44 7804 588372, or via regular mail at BloxBuilder Inc., Attn: Privacy Administrator, 4600 150th Avenue NE, Redmond, WA 98052, U.S.A.</p>

<p>You may also contact ESRB Privacy Certified via email at hd05262075@priestley.ac.uk, or at https://www.esrb.org/privacy/contact/.</p>